<!---Include Header-->
<%- include('includes/_header') %>

    <!---Start Main Site-->
    <main id="main-site">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/" class="border-shadow">
                    <span class="text-gradient"> <i class="fas fa-angle-double-left"></i> All Users</span>
                </a>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Add New User</h2>
                <span class="text-light">
                    User the blow form to add new user !
                </span>
            </div>

            <!---Include Form-->
            <%- include('includes/_form') %>

        </div>
    </main>
    <!---End Main Site-->

    <!---Include Footer-->
    <%- include('includes/_footer') %>